entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run API"

[[workflows.workflow]]
name = "Run API"
author = 42463885
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app/main.py"

[[ports]]
localPort = 5000
externalPort = 80
